.sidebar {
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 10px 0;
  height: auto !important;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 1000;
}

.sidebar .btn-new {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-weight: 500;
  padding: 8px 16px;
  margin: 0 15px 20px 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .nav-link {
  color: #333;
  font-size: 14px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
}

.sidebar .nav-link.active {
  background: #e8f0fe;
  border-radius: 20px;
  color: #1967d2;
  font-weight: 500;
}

.sidebar .nav-link i {
  font-size: 18px;
  margin-right: 12px;
  width: 20px;
  text-align: center;
}

.storage {
  margin: 20px;
  font-size: 13px;
}

.progress {
  height: 6px;
  border-radius: 5px;
}

.btn-storage {
  margin-top: 10px;
  width: 100%;
  border-radius: 20px;
}
.close-sidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1101;
}

/* Responsive */
@media (max-width: 768px) {
  .container-siderbar-storage {
    position: relative !important;
  }
  .sidebar {
    left: -460px;
    position: fixed !important;
    z-index: 1100;
    height: 100vh !important;
    width: 260px !important;
  }

  .sidebar.active {
    left: 0;
  }

  .content {
    margin-left: 0 !important;
  }
}

.content {
  margin-left: 260px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.toggle-btn {
  position: absolute !important;
  top: 15px;
  left: 15px;
  z-index: 1100;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
